* {
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
    font-family: sans-serif;
}
.nav-text {
    color: black;
    text-decoration: none;
    display: inline-block;

}
.nav-text:hover {
    color: black;
    text-decoration: none;
}
header {
    position: fixed;
}
header ul {
    display: flex;
    list-style-type: none;
    margin-top: 11px;
    margin-bottom: 11px;
}
header ul li a {
    padding-right: 34px;

}
.apple-logo {
    margin-left: 70px;
}
.home-title {
    text-align: center;
    font-weight: bold;
    padding-top: 80px;
    padding-bottom: 0;
    font-size: 52px;
}
.home-title2 {
    text-align: center;
    font-size: 28px;
    position: relative;
    bottom: 20px;
}
button {
    position: relative;
    bottom: 20px;
}
.btn1 {
    margin-right: 18px;
}
.macbook-image {
    justify-content: center;
    margin-left: 19%;
}